.character-select {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

figure img {
    justify-content: center;
    align-self: center;
}

body {
    text-align: center;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border-bottom: 1px solid black; */
    /* padding-bottom: 0%; */
}

.search-bar {
    /* padding-left: 60%; */
}
  
.header-text {
    padding-right: 10%;
    
}

.page-title {
    margin-top: 5%;
}

section img {
    border: 15px solid #f14667;
    justify-content: center;
    margin-bottom: 10px;
}

.stats-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding-left: 15%; */
    justify-content: center;
    padding-top: 10px;
}

.text-box {
    padding-left: 8px;
    padding-right: 8px;
}


.ability-score {
    /* display: flex; */
    justify-content: center;
}

.ability-score > div {
    padding-left: "10px";
}

.ability-title {
    font-size: large;
}

.power-set {
    font-weight: bold;
}

.power:hover {
    text-decoration-line: underline;
}

.passive {
    color: #f14667;
}


.superscript {
    font-style: italic;
    display: block;
    font: serif;
    font-size: x-small;
}

.superscript-container {
    margin-bottom: 10px;
    font-size: smaller;
}

.clickScript {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

.basic-actions-rule {
    padding-left: 10%;
    padding-right: 10%;
}

.power-name {
    font-size: larger;
}

.power-summary {
    margin-bottom: 10px;
    font-size: small;
    margin-left: 10%;
    margin-right: 10%;
}

.power-set-single {
    font-size: x-small;
}

.power-trigger {
    margin-left: 10%;
    margin-right: 10%;
}

.power-effect {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.power-integrated {
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

.trait-name {
    margin-bottom: 15px;
}

.trait-description {
    margin-bottom: 10px;
}

.trait-integrated {
    margin-top: 15px;
}


.tag-description {
    margin-bottom: 10px;
}

.tag-integrated {
    margin-top: 15px;
}

@media screen and (max-width: 500px) {
    
    .character-select {
        display: block;
        flex-direction: column;
        justify-content: center;
    }
    
}

@media screen and (max-width: 420px) {
    .stats-input button {
        margin-top: 10px;
    }
}