.character-select {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

figure img {
    justify-content: center;
    align-self: center;
}

body {
    text-align: center;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border-bottom: 1px solid black; */
    /* padding-bottom: 0%; */
}

.search-bar {
    /* padding-left: 60%; */
}
  
.header-text {
    padding-right: 10%;
    
}

.page-title {
    margin-top: 5%;
}

section img {
    border: 15px solid #f14667;
    justify-content: center;
    margin-bottom: 10px;
}

.stats-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding-left: 15%; */
    justify-content: center;
    padding-top: 10px;
}

.text-box {
    padding-left: 8px;
    padding-right: 8px;
}


.ability-score {
    /* display: flex; */
    justify-content: center;
}

.ability-score > div {
    padding-left: "10px";
}

.ability-title {
    font-size: large;
}

.power-set {
    font-weight: bold;
}

.power:hover {
    text-decoration-line: underline;
}

.passive {
    color: #f14667;
}


.superscript {
    font-style: italic;
    display: block;
    font: serif;
    font-size: x-small;
}

.superscript-container {
    margin-bottom: 10px;
    font-size: smaller;
}

.clickScript {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

.basic-actions-rule {
    padding-left: 10%;
    padding-right: 10%;
}

.power-name {
    font-size: larger;
}

.power-summary {
    margin-bottom: 10px;
    font-size: small;
    margin-left: 10%;
    margin-right: 10%;
}

.power-action {
   font-size: smaller;
}

.power-trigger {
    margin-left: 10%;
    margin-right: 10%;
    font-size: smaller;
}

.power-duration {
    font-size: smaller;
}

.power-range {
    font-size: smaller;
}

.power-cost {
    font-size: smaller;
}

.power-effect {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.power-integrated {
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

.power-iconic-weapon {
    margin-top: 10px;
    font-size: larger;
}

.iconic-weapon-combat-rules {
    margin-top: 5px;
}

.iconic-weapon-narrative-rules {
    margin-top: 10px;
}

.trait {
    margin-left: 10%;
    margin-right: 10%;
}

.trait-name {
    margin-bottom: 15px;
}

.trait-description {
    margin-bottom: 10px;
}

.trait-integrated {
    margin-top: 15px;
}

.marvel-tag {
    margin-left: 10%;
    margin-right: 10%;
}

.tag-description {
    margin-bottom: 10px;
}

.tag-integrated {
    margin-top: 15px;
}

.bio-section {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
}

.bio-grid {
    justify-content: center;
    display: grid;
    grid-template-columns: minmax(75px, 150px) minmax(75px, 150px);
    grid-template-rows: minmax(30px, max-content) minmax(30px, max-content) minmax(30px, max-content);
    margin-bottom: 10px;
    margin-top: 10px;
}

.bio-features {
    margin-top: 20px;
    /* margin-bottom: 10px; */
}

.bio-history {
    margin-top: 15px;
}

.bio-personality {
    margin-top: 15px;
}

.occupation-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.occupation-section-title {
    font-size: large;
}

.occupation-description {
    margin-bottom: 10px;
}

.occupation-examples {
    font-size: smaller;
    margin-bottom: 10px;
}

.occupation-traits {
    font-size: smaller;
}

.occupation-tags {
    font-size: smaller;
}

.origin-section {
    margin-bottom: 20px;
}

.origin-section-title {
    font-size: large;
}

.origin-description {
    margin-bottom: 10px;
}

.origin-examples {
    font-size: smaller;
    margin-bottom: 10px;
}

.origin-traits {
    font-size: smaller;
}

.origin-tags {
    font-size: smaller;
}

@media screen and (max-width: 500px) {
    
    .character-select {
        display: block;
        flex-direction: column;
        justify-content: center;
    }
    
}

@media screen and (max-width: 420px) {
    .stats-input button {
        margin-top: 10px;
    }
    .bio-grid {
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(30px, max-content) minmax(30px, max-content) minmax(30px, max-content);
        margin-bottom: 10px;
        margin-top: 10px;
    }
}