.character-select {
    text-align: center;
    align-content: center;
}

body {
    text-align: center;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border-bottom: 1px solid black; */
    /* padding-bottom: 0%; */
}

.search-bar {
    /* padding-left: 60%; */
  }
  
  .header-text {
    padding-right: 10%;
    
}

.page-title {
    margin-top: 5%;
}